body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .form-box {
    margin-top: 30px;
  }
  
  input, button {
    padding: 10px;
    margin: 10px;
    width: 250px;
    font-size: 16px;
  }
  
  .certificate {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
  }
  
  #template {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  .cert-name {
    position: absolute;
    top: 50%; /* Use % to adapt with size */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: bold;

    color: #b30000;
  }
  
  .cert-course {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold; 
    color: #000;
    text-align: center;
  }
  
  .cert-date {
    position: absolute;
    top: 68%;
    left: 69%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold; 
    color: #000;
  }
  